modelsim.ini
xcelium.d/
xrun.history
xrun.log
.bender
bender
Bender.lock


__pycache__



install
install/*

.cached_ipdb.json

sim/*.log
sim/*.txt
sim/fs/*.txt
sim/modelsim.ini
sim/modelsim_libs/
sim/ncompile/ips.mk
sim/ncompile/rtl.mk
sim/ncompile/rtl/pulpissimo.mk
sim/ncompile/rtl/tb.mk
sim/ncompile/rtl/vip.mk
sim/ncompile/src_ips_files.f
sim/ncompile/src_rtl_files.f
sim/transcript
