[submodule "src-sv/common_cells"]
	path = src/common_cells
	url = https://github.com/pulp-platform/common_cells.git
[submodule "tb/flexfloat"]
	path = tb/flexfloat
	url = https://github.com/oprecomp/flexfloat.git
